.page {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 30% 40% 10%;
  grid-template-areas:
    "heading heading "
    "main-content pic"
    "nav nav "
    "footer footer";
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  margin: 0;
}

.heading {
  width: 100vw;

  text-align: center;
  height: 10vh;
  grid-area: heading;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
}
.heading > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main-content;
}
.about {
  height: 70%;
  width: 70%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(19, 15, 10);
}
.about > p {
  font-size: larger;
}
.pic {
  /* background-image: url("images/thnking.png"); */
}
.pic img {
  height: 100%;
  width: 80%;
  /* opacity: 0.5; */
}
.catagogy {
  display: flex;
  flex-direction: column;
}
.catagory-btn {
  width: 140px;
  height: 140px;
  margin-right: 20px;
  background-color: rgb(233, 233, 233);
  color: rgb(70, 75, 80);
  font-size: large;
  border-radius: 15px;
  box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.nav {
  height: 100%;
  width: 100%;

  display: flex;
  grid-area: nav;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-image > img {
  height: 50px;
  height: 50px;
}
/* .main-cointain-of-q {
  box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-color: aqua;
} */

.whole-add {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-cointain-q {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 239, 243);
}
.card-view {
  height: 80%;
  width: 100%;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 239, 243);
}
.questions {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: "Arial Narrow Bold", sans-serif;

  border-radius: 19px;
}
.options {
  display: flex;
  flex-wrap: wrap;
  height: 73%;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.changeQuestion {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3%;
  border-radius: 100px;
}
.change-color1 {
  height: 37%;
  width: 37%;
  border-radius: 10px;
  color: rgb(238, 239, 243);
  display: flex;
  margin-left: 4%;
  margin-bottom: 0;
  background-color: rgb(35, 121, 175);
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.change-color2 {
  height: 37%;
  width: 37%;
  border-radius: 10px;
  color: rgb(238, 239, 243);
  display: flex;
  margin-left: 4%;
  cursor: pointer;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgb(247, 173, 55);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  font-size: large;
  align-items: center;
}

.change-color3 {
  height: 37%;
  justify-content: center;
  width: 37%;
  border-radius: 10px;
  color: rgb(238, 239, 243);
  display: flex;
  cursor: pointer;
  margin-left: 4%;
  margin-bottom: 0;
  background-color: rgb(104, 155, 89);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  font-size: large;
}

.change-color4 {
  height: 37%;
  justify-content: center;
  width: 37%;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(238, 239, 243);
  display: flex;
  margin-left: 4%;
  margin-bottom: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  font-size: large;
  background-color: rgb(62, 168, 204);
  align-items: center;
}
.change-color:hover {
  background-color: rgb(42, 160, 48);

  color: aliceblue;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 45vh;
}

h3 {
  text-align: center;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.next {
  /* width: 40%;
  height: 100%;
  border-radius: 80px;
  box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0); */
  /* margin-left: 50px; */
  width: 90px;
  height: 90px;
  border: 1px solid red;
  border-radius: 50%;
  margin-right: 100px;
  margin-bottom: 50px;
  background-color: rgb(219, 133, 133);
}
.previous {
  /* width: 40%;
  height: 100%;
  border-radius: 80px;
  box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0); */
  width: 90px;
  background-color: rgb(219, 133, 133);
  color: aliceblue;
  height: 90px;
  border: 1px solid red;
  border-radius: 50%;
}
.next:hover {
  /* width: 45%; */
  background-color: rgb(230, 34, 51);
  color: aliceblue;
  transform: scale(1.2, 1.2);
}
.previous:hover {
  background-color: rgb(230, 34, 51);
  color: aliceblue;
  transform: scale(1.2, 1.2);
}
#time {
  display: flex;
  width: 23%;
  height: 15%;
  margin-bottom: 1%;
}

#minutes {
  width: 45%;
  height: 100%;
  background-color: rgb(28, 50, 92);
  border-radius: 7px;
  color: rgb(238, 239, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  font-stretch: expanded;
  flex-direction: column;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-right: 2%;

  font-size: 4em;
  padding: 0;
  margin-top: 5%;
}

#seconds {
  width: 45%;
  height: 100%;
  background-color: rgb(136, 24, 52);
  border-radius: 7px;
  color: rgb(238, 239, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  font-stretch: expanded;
  flex-direction: column;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-top: 5%;

  font-size: 4em;
  padding: 0;
}
#minu {
  font-size: 10px;
}
#sec {
  font-size: 10px;
}

.result-page {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  position: relative;
}
.block {
  position: absolute;
  top: 14%;
  width: 120px;
  height: 120px;
  background-color: aqua;
  border-radius: 10px;
  transform: rotate(45deg);
  z-index: 2;
  background-color: rgb(73, 21, 155);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 24%;
}
.block p {
  color: aliceblue;
  transform: rotate(-44deg);
  font-size: larger;
}
.your-result {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;

  background-color: aliceblue;
  border-radius: 15px;
  position: absolute;
  top: 23%;
  left: 10%;

  width: 35%;
  height: 65%;

  box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  background-size: cover;
}
.table {
  position: absolute;
  right: 2%;
  height: 50%;
  display: none;
  width: 40%;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.result-star {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.score-text {
  width: 80%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
  border-bottom: 1px dotted grey;
}
.total-text {
  grid-area: total-text;
  margin-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
}
.score {
  grid-area: score;

  display: flex;
  justify-content: center;
  align-items: center;
}
.total {
  grid-area: total;

  display: flex;
  justify-content: center;
  align-items: center;
}
.share {
  grid-area: share;

  display: flex;
  justify-content: center;
  align-items: center;
}
.share-img {
  grid-area: share-img;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border-radius: 100px;
  background-color: #009879;
}
.btn-rechck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
}
.button-re {
  height: 20%;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#re-play {
  width: 60%;
  height: 10%;
  border-radius: 10px;
  background-color: rgb(73, 21, 155);
  color: #dddddd;
  font-size: larger;
  text-align: center;
  margin-top: 10%;
}
.getResult {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(73, 21, 155);
  color: #dddddd;
  font-size: larger;
}
.reCheck {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(73, 21, 155);
  color: #dddddd;
  font-size: larger;
}
.header {
  width: 100%;
  height: 7%;
  /* font-size: 1em; */
  /* justify-content: center; */
  /* padding-top: 2%;
  padding-left: 2%; */
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header p {
  margin-left: 20px;
}
.footer {
  width: 100%;
  height: 5%;

  display: flex;
  /* box-shadow: 5px 5px 5px 10px grey; */
  color: #000000;
  justify-content: center;
  align-items: center;
}
