.page{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 30% 40% 10%;
    grid-template-areas: "heading heading "
                          "main-content pic"
                          "nav nav "
                          "footer footer";
    /* background-image:url("back.jpg"); */
    
    
}


.heading{
    width: 100vw;
 
    text-align: center;
    height: 10vh;
    grid-area: heading;
    display: flex;
    justify-content: center;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading >img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main-content;

}
.about{
    height: 70%;
    width: 70%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(19, 15, 10);
    
}
.about >p{
    font-size: larger;
    
}
.pic{
    /* background-image: url("images/thnking.png"); */
}
.pic img{
    height: 100%;
    width: 100%;
    /* opacity: 0.5; */
}
.catagogy{
    display: flex;
    flex-direction: column;
}
.catagory-btn{
    width: 140px;
    height: 140px;
    margin-right: 20px ;
    background-color: rgb(233, 233, 233);
    color: rgb(70, 75, 80);
    font-size: large;
    border-radius: 15px;
    box-shadow: -9px 0px 12px -7px #000000, 9px 0px 12px -7px #000000,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.nav{
    height: 100%;
    width: 100%;

    display: flex;
    grid-area: nav;
    justify-content: center;
    align-items: center;
    
}
.nav-image >img{
    height: 50px;
    height: 50px;
}
.main-cointain-q{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(143, 6, 6);
}
.questions{
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: bisque;
}
.options{
    display: flex;
    flex-direction: column;
    height: 30%;
    width:40% ;
    justify-content: space-around;
}
.changeQuestion{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 10%;
    justify-content: space-around;
}
.change-color{
    background-color: rgb(238, 163, 93);
    border: 1px solid rgb(218, 93, 44);
    height: 31%;
    width: 100%;
}
.change-color:hover{
    background-color: rgb(163, 238, 167);
    border: 1px solid rgb(22, 143, 22);
    height: 35%;
   

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 45vh;
}
.getResult{
    width: 20%;
    height: 10%;
}

.reCheck{
    width: 20%;
    height: 10%;

}
h3{
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.next{
    width :50%;
   height: 100%;
}
.previous{
    width :50%;
   height: 100%;
}


